<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/application.html}">
<head>
    <meta content="text/html; charset=UTF-8">
    <title>Welcome!</title>
    <link rel='stylesheet' href='/webjars/bootstrap/5.1.1/css/bootstrap.min.css'>
</head>
<section layout:fragment="content">
    <div class="card">
        <div class="card-body text-center">
            <div class="display-4">Hello, World!</div>
        </div>
    </div>
</section>

</html>